<%- include('head') %>
<body>
    <div class="d-flex">
        <!-- Left Navbar -->
        <%- include("menu") %>

        <!-- Main Content -->
        <div class="container mt-5" id="main-content">
            <h1 class="text-center">ยินดีต้อนรับสู่ระบบ</h1>
            <p class="text-center">เลือกเมนูจากด้านซ้ายเพื่อเริ่มใช้งาน</p>
        </div>
    </div>
</body>
</html>