<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
    <span class="fs-5">เว็บจัดการห้องเช่าไร้กังวล</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/index" class="nav-link" id="nav-index">หน้าหลัก</a>
        </li>
        <% if (role === 'user') { %>
            <li>
                <a href="/book" class="nav-link" id="nav-booking">จองห้องพัก</a>
            </li>
            <li>
                <a href="/payment" class="nav-link" id="nav-payment">ชำระเงิน</a>
            </li>
        <% } %>
        <% if (role === 'owner') { %>
            <li>
                <a href="/notify-rent" class="nav-link" id="nav-notify-rent">แจ้งค่าเช่าและค่าบริการ</a>
            </li>
            <li>
                <a href="/rooms" class="nav-link" id="nav-edit-room">เพิ่ม/แก้ไขห้องพัก</a>
            </li>
        <% } %>
        <li>
            <a href="/payment-history" class="nav-link" id="nav-booking">ประวัติการชำระ</a>
        </li>
        <li>
            <a href="/request" class="nav-link" id="nav-booking">แจ้งปัญหา</a>
        </li>
        <div class="mt-5">
            <a class="btn btn-danger w-100" href="/logout" role="button">ออกจากระบบ</a>
        </div>
    </ul>
</div>

<script>
    window.onload = function() {
        var currentPath = window.location.pathname;
        var links = document.querySelectorAll('.nav-link');
        
        links.forEach(function(link) {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    };
</script>
